.categoriesTitle {
  margin-top: 20px;
  width: 100%;
  border-top: solid 1px antiquewhite;
  border-bottom: solid 1px antiquewhite;
  text-align: center;
  font-family: "Varela Round", sans-serif;
  font-size: 12px;
  line-height: 19px;
  color: #222222;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(221, 227, 228);
}
