/* Ana kapsayıcı için stil */
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Üç sütun oluşturur */

  gap: 35px; /* Sütunlar arasındaki boşluk */
  padding: 20px; /* Kapsayıcı içindeki boşluk */
}

/* Her gönderi için stil */
.post {
  border: 1px solid #ddd; /* Hafif bir kenarlık */
  border-radius: 5px; /* Kenarları yuvarlar */
  padding: 10px; /* İçerik için boşluk */
  text-align: center; /* Metni ortalar */
  transition: box-shadow 0.3s ease; /* Geçiş efekti */
  margin-left: -8px;
}

/* Her gönderinin üzerine gelindiğinde gölgelik eklemek için */
.post:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Hafif gölge */
}

/* Resim için stil */
.post img {
  max-width: 100%; /* Resmin kapsayıcıya göre boyutlandırılmasını sağlar */
  height: auto; /* Orantılı boyutlandırma */
  border-radius: 5px; /* Resmin kenarlarını yuvarlar */
}

/* Başlık için stil */
.post h3 {
  font-size: 1.25rem; /* Başlık boyutu */
  margin: 10px 0; /* Üst ve alt boşluk */
}

/* Meta bilgileri için stil */
.meta {
  display: flex; /* Meta bilgilerini yan yana dizmek için */
  justify-content: center; /* Ortalar */
  flex-wrap: wrap; /* Taşma durumunda yeni satıra geçer */
  margin-top: 10px; /* Üstte boşluk bırakır */
}

.meta span {
  margin-right: 10px; /* Sağda boşluk bırakır */
  font-size: 0.9rem; /* Daha küçük yazı boyutu */
  color: #666; /* Renk */
}

.link {
  color: #74a8a4;
  font-weight: bold;
  text-decoration: none;
}
